---

import BaseHead from '../components/BaseHead.astro';

export interface Props{

}
const {title} = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<BaseHead metaTitle="AstroTips" description="m quiero morir"/>
<body class="h-screen">
    <slot />
</body>
</html>